@import url("richmond-sunlight.css");
@import url("weather-api.css");

*{
	margin:0;
	padding:0;
	border:none;
	box-sizing:border-box;
}

ul{
	list-style-type:none;
}
main{
	display:grid;
	grid-template-columns:repeat(3, 33%);
	grid-template-rows:50% 50%;
	grid-row-gap:4em;
	min-height:16em;
	
}
main.demo{
	grid-template-rows:20% 80%;
	margin-bottom:3em;
	grid-gap:0;

}
.dashboard-display{
	width:90%;
	min-height:300px;
	max-height:600px;
	overflow:scroll;
	outline:1px solid #000;
	margin-left:5%;
	margin-right:5%;
	position:relative;
}
.dashboard-display-h2{
	background-color:#c0c0c0;
	font-family:Georgia, serif;
	color:#fff;
	margin:0 0 1em 0;
	padding:.2em .4em;
	text-align:center;
}


footer{
	padding-top:3em;
	text-align:center;
}

.demo h1,
.demo table.table-demo{grid-column: 1 / span 3;}
table.table-demo{
	border-collapse: collapse;
 	width: 100%;
}
.table-demo th{ color:#fff; }
.table-demo th,
.table-demo td{
	padding: 0.25rem;
	text-align: left;
	border: 1px solid #ccc;
}
.table-demo thead{
	background-color:#999;
}
.table-demo tbody tr:hover {
	background-color:#ff0;
}