#weather-forecast{
	display:grid;
	grid-template-columns:repeat(7, 14.28%);
}
#weather-forecast li{
	outline:1px solid #000;
	padding:.3em .45em;
	position:relative;

}
.weather-b{
	display:block;
	font-size:.85em;
}
.weather-b + .weather-b{
	font-weight:300;
	font-size:smaller;
}
.weather-icon{
	display:block;
	bottom:0;
	margin:0 auto 5px auto;
	outline:1px solid #000;
}